<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
  <% if logged_in? && current_user.admin %>
    <h2>Create New User</h2>
  <% else %>
    <h2>Sign Up</h2>
  <% end %>

  <%= simple_form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h2>Please resolve the following <%= "error".pluralize(@user.errors.count) %>:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password, input_html: { type: "password" } %>
    <%= f.input :password_confirmation, input_html: { type: "password" } %>

    <br>

    <div class="d-grid gap-2">
      <% if logged_in? && current_user.admin %>
        <%= f.button :submit, "Create User", class: "btn btn-outline-success" %>
      <% else %>
        <%= f.button :submit, "Sign Up", class: "btn btn-outline-success" %>
      <% end %>

      <%= f.button :button, "Cancel", type: "reset", class: "btn btn-outline-danger" %>
    </div>
  <% end %>

</div>
