
<h4>Welcome to Qatar Computing Research Institute</h4>

<p> Qatar Computing Research Institute, or QCRI for short, is the
    leading institute for computing research in Qatar. Here at QCRI,
    we explore a diverse set of research paths, from Artificial
    Intelligence to Computational Biology. Please explore to your
    heart's content!
</p>

<div class="card-group">
  <div class="card">
    <img src="<%= asset_path('projects-icon.png') %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <p class="card-text">Browse planned, ongoing, and completed projects at QCRI</p>
      <a href="<%= projects_path %>" class="btn btn-primary">Browse</a>
    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path('researchers-icon.png') %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Researchers</h5>
      <p class="card-text">Check out our researchers and what they're working on</p>
      <a href="<%= researchers_path %>" class="btn btn-primary">Browse</a>
    </div>
  </div>
  <div class="card">
    <img src="<%= asset_path('products-icon.png') %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Products</h5>
      <p class="card-text">Browse through our deployed products and solutions</p>
      <a href="<%= products_path %>" class="btn btn-primary">Browse</a>
    </div>
  </div>
</div>
