<h4>Projects at QCRI</h4>

<table class="striped highlight"
       data-toggle="table"
       data-search="true"
       data-paginate="true">
  <thead>
    <th>Name</th>
    <th class="align_center">Team Leader</th>
    <th class="align_center">Start Date</th>
    <th class="align_center">End Date</th>
    <th class="align_center">Status</th>
    <!-- TO DO: Add extra column for admin tools -->
  </thead>
  <% for project in @projects %>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
      <td class="align_center"><%= project.leader_name %></td>
      <td class="align_center"><%= project.start_date %></td>
      <td class="align_center"><%= project.end_date.nil? ? "TBA" : project.end_date %></td>
      <td class="align_center"><%= project.status %></td>

        <!--
          TO DO: Implement edit and delete features if user is admin

          Refer to PATS_V3 lists to find template code
        -->

    </tr>
  <% end %>
</table>
<br />
<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'project'} %>
