<% if logged_in? && current_user.admin? %>
  <h3> New Project </h3>


  <%= simple_form_for @project do |f| %>
    <% if @project.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h2>Please resolve the following <%= "error".pluralize(@project.errors.count) %>:</h2>

        <ul>
          <% @project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :name, label_html: { class: 'active' } %>
    <%= f.input :description, input_html: {rows: 7}, label_html: { class: 'active' } %>
    <%= f.association :researchers, label: "Available Researchers:", collection: Researcher.unassigned.where(is_leader: false), input_html: { multiple: true } %>
    <%= f.input :team_leader_id, label: "Team Leader:", collection: Researcher.unassigned.where(is_leader: true), prompt: "Choose the team leader", value_method: :id, include_blank: false, label_html: { class: 'active' } %>
    <%= f.input :start_date, label_html: { class: 'active' }, html5: true %>
    <%= f.input :end_date, include_blank: true, label_html: { class: 'active' }, html5: true %>
    <%= f.label :image, label: "Upload image:" %>
    <%= f.input :image, label: false, style: 'display: block', input_html: { direct_upload: true } %>
    <br>
    <div class="d-grid gap-2" style="padding-bottom:5rem">
      <%= f.button :submit, class: "btn btn-outline-success" %>
      <%= link_to "Cancel", :back, {class: "btn btn-outline-danger"} %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning" role="alert">
    You must be logged as an admin to perform this action
  </div>
<% end %>
