<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container primary-content">
	<!-- PRIMARY CONTENT HEADING -->
	<div class="primary-content-heading clearfix">
		<h2><%= @project.name %></h2>
        <hr style="border:1px solid #fff">
    <img src="<%= rails_blob_path(@project.image, disposition: "attachment", only_path: true) %>" class="img-thumbnail" alt="...">
		<!-- end quick task modal -->
	</div>
	<!-- END PRIMARY CONTENT HEADING -->
	<div class="row">
		<div class="col-md-8">
			<div class="project-section general-info">
				<h3>General Info</h3>
				<p><%= @project.description %></p>
				<div class="row">
					<div class="col-sm-9">
						<dl class="dl-horizontal">
							<dt>Start Date:</dt>
							<dd><%= @project.start_date %></dd>
							<dt>End Date:</dt>
							<dd><%= @project.end_date.nil? ? "TBA" : @project.end_date %></dd>
							<dt>Status:</dt>
							<dd><%= @project.status %></dd>
							<dt>Leader:</dt>
							  <dd>
                  <div class="card" style="width: 14rem;">
                    <img src="<%= rails_blob_path(@project.team_leader.avatar, disposition: "attachment", only_path: true) %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= @project.leader_name %></h5>
                      <p class="card-text"><%= @project.team_leader.job_title %></p>
                      <a href="<%= researcher_path(@project.team_leader_id) %>" class="btn btn-primary">More Info</a>
                    </div>
                  </div>
                </dd>
							<dt>Team:</dt>
							<dd>
								<div class="row">
                  <div class="container-fluid py-2">
                    <div class="d-flex flex-row flex-nowrap">
                      <% @project.members.each do |member| %>
                        <% unless member == @project.team_leader_id %>
                          <div class="card" style="width: 14rem;">
                            <img src="<%= rails_blob_path(Researcher.find(member).avatar, disposition: "attachment", only_path: true) %>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><%= Researcher.find(member).full_name %></h5>
                              <p class="card-text"><%= Researcher.find(member).job_title %></p>
                              <a href="<%= researcher_path(member) %>" class="btn btn-primary">More Info</a>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
								</div>
							</dd>
						</dl>
					</div>
          <% if logged_in? && current_user.admin? %>
  					<div class="col-sm-3">
  						<div class="status-chart project-progress bottom-30px">
                <a href="<%= edit_project_path(@project.id) %>" class="btn btn-sm btn-warning "><i class="fa fa-compose"></i> Edit Project</a>
  						</div>
  					</div>
          <% end %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- RECENT FILES -->
      <% if @project.publications.count > 0 %>
  			<div class="widget">
  				<div class="widget-header clearfix">
  					<h3><i class="fa fa-document"></i> <span>Publications</span></h3>
  					<div class="btn-group widget-header-toolbar">
  						<a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="fa fa-ios-arrow-up"></i></a>
  						<a href="#" title="Remove" class="btn btn-link btn-remove"><i class="fa fa-ios-close-empty"></i></a>
  					</div>
  				</div>
  				<div class="widget-content">
  					<ul class="fa-ul recent-file-list bottom-30px">
              <% @project.publications.each do |publication| %>
                <li><%= link_to publication.title, rails_blob_path(publication.document, disposition: 'attachment') %></li>
              <% end %>
  					</ul>
  				</div>
  			</div>
      <% end %>
			<!-- END RECENT FILES -->
		</div>
	</div>
</div>
