<div id="toolbar">
  <%= render :partial => "partials/add_new_object", locals: {model_name: 'researcher'} %>
</div>
<table class="striped highlight"
       data-toggle="table"
       data-search="true"
       data-paginate="true"
       data-toolbar="#toolbar">
  <thead>
    <th>Name</th>
    <th data-align="center">Title</th>
    <th data-align="center">Leader</th>
    <th data-align="center">Group</th>
    <th data-align="center">Current Project</th>
    <th data-align="center">Options</th>
  </thead>
  <% for researcher in @researchers %>
    <tr>
      <td><%= link_to researcher.full_name, researcher_path(researcher) %></td>
      <td data-align="center"><%= researcher.job_title %></td>
      <td data-align="center">
        <% if researcher.is_leader %>
          <i class="material-icons" style="color:green">check_circle</i>
        <% else %>
          <i class="material-icons" style="color:red">cancel</i>
        <% end %>
      </td>
      <td data-align="center"><%= researcher.group %></td>
      <td data-align="center">
        <% if researcher.project_id.nil? %>
          Unassigned
        <% else %>
          <%= link_to researcher.project.name, project_path(researcher.project) %>
        <% end %>
      </td>

      <td data-align="center">
        <% if logged_in? && ((!current_user.researcher.nil? && (current_user.researcher.id == researcher.id)) || current_user.admin?) %>
          <%= link_to edit_researcher_path(researcher) do %>
            <i class="material-icons">tune</i>
          <% end %>
        <% end %>
      </td>

    </tr>
  <% end %>
</table>
<br />
<p>&nbsp;</p>
