<div id="toolbar">
  <%= render :partial => "partials/add_new_object", locals: {model_name: 'researcher'} %>
</div>
<table class="striped highlight"
       data-toggle="table"
       data-search="true"
       data-paginate="true"
       data-sortable="true"
       data-toolbar="#toolbar">
  <thead>
    <th data-sortable="true">Name</th>
    <th data-align="center" data-sortable="true">Title</th>
    <th data-align="center" data-sortable="true">Group</th>
    <th data-align="center" data-sortable="true">Current Project</th>
    <% if logged_in? %>
      <th data-align="center">Options</th>
    <% end %>
  </thead>
  <% for researcher in @researchers %>
    <tr>
      <td><%= link_to researcher.full_name, researcher_path(researcher) %></td>
      <td data-align="center"><%= researcher.job_title %></td>
      <td data-align="center"><%= researcher.group %></td>
      <td data-align="center">
        <% if researcher.project_id.nil? %>
          Unassigned
        <% else %>
          <%= link_to researcher.project.name, project_path(researcher.project) %>
        <% end %>
      </td>

      <% if logged_in? %>
        <td data-align="center">
          <% if logged_in? && ((!current_user.researcher.nil? && (current_user.researcher.id == researcher.id)) || current_user.admin?) %>
            <%= link_to edit_researcher_path(researcher) do %>
              <i class="material-icons" style="color:#3d98ff">tune</i>
            <% end %>
          <% elsif logged_in? %>
            <i class="material-icons" style="color:#a0a5ad">tune</i>
          <% end %>
        </td>
      <% end %>

    </tr>
  <% end %>
</table>
<br />
<p>&nbsp;</p>
