<% if logged_in? && (!(current_user.researcher.nil?) && (current_user.researcher.id == @researcher.id)) || current_user.admin? %>
  <% if current_user.admin? %>
    <h4> Edit <%= @researcher.full_name %> </h4>
  <% else %>
    <h4> Edit your Researcher Page </h4>
  <% end %>


  <%= simple_form_for @researcher do |f| %>
    <% if @researcher.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h2>Please resolve the following <%= "error".pluralize(@researcher.errors.count) %>:</h2>

        <ul>
          <% @researcher.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
        <div class="col">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :bio, input_html: {rows: 5} %>
          <%= f.input :group %>
          <%= f.input :job_title, label: "Job Title" %>
          <%= f.input :phone_number, label: "Phone Number" %>
          <%= f.input :office_location, label: "Office Location" %>
          <%= f.input :github_url, label: "Github" %>
          <%= f.input :website_url, label: "Personal Website" %>
          <%= f.label :avatar, label: "Upload an image for your page:" %>
          <%= f.input :avatar, label: false, style: 'display: block', input_html: { direct_upload: true } %>
        </div>
        <div class="d-grid gap-2">
          <%= f.button :submit, class: "btn btn-outline-success" %>
          <%= link_to "Cancel", :back, {:class=>"btn btn-outline-danger"} %>
        </div>
      <% end %>
    </div>
<% else %>
  <div class="alert alert-warning" role="alert">
    <% if !logged_in? %>
      You must be logged in to perform this action
    <% else current_user.researcher.nil? || (current_user.researcher.id != @researcher.id ) %>
      You must be an admin to edit another researcher's page
    <% end %>
  </div>
<% end %>
